#!/usr/bin/env python3
import difflib
golden = {{ golden_lines | to_json }}
live = {{ live_lines | to_json }}

with open("/tmp/diff_{{ inventory_hostname }}.html", "w") as f:
    f.write(difflib.HtmlDiff(tabsize=4).make_file(golden, live, fromdesc='Golden Config', todesc='Live Config'))
